body {
    background-image: linear-gradient(to left, rgb(37, 0, 90), rgb(106, 49, 122));
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
    text-align: center;
}
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00002b;
    border-radius: 20px;
    margin: 15px auto;
    box-shadow: 0px 5px 20px white;
    padding: 70px;
}
input {
    display: flex;
    height: 25px;
    width: 100% !important;
    margin: 5px;
}
.gridNome,
.gridNumeros,
.gridSenha {
    display: flex;
    flex-direction: row;
    width: 500px;
    margin-bottom: 10px;
}
button {
    height: 30px;
    width: 50%;
    margin: 15px;
    margin-top: 20px;
    background-image: linear-gradient(to right,  rgb(255, 183, 239), rgb(198, 49, 239));
}
button:hover {
    cursor:pointer;
    color: white;
    background-color: transparent;
    outline: 1px solid white;
}
a, p {
    color: white;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}
a {
    color: dodgerblue;
}
.toastify.toastify-center {
    max-width: 300px;
    margin: 0 auto;
    color: white;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    
    .box {
        width: 90%;
        padding: 30px;
    }
    .gridNome,
    .gridNumeros,
    .gridSenha {
        display:flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    input {
        height: 40px;
    }
    button {
        width: 80%;
        margin: 10px auto;
        align-items: center;
    }
    a, p {
        margin-top: 5px;
    }
}